body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container{
    padding: 150px;
    position: relative;
}

.topic{
    color: #0b0b0b;
    font-size:30px ;
    
    border-bottom: 1px solid #e1ebed;
    padding-bottom: 0px;
    
}
#x-placeholder{
    color:  #e39d10;
    
}

.array-container {
    
    border: 1px solid #2fcade;
    padding: 20px;
    color: black;
    margin: 20px 0;
}
#question-container{
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
    color:black;
    border-bottom: 1px solid #dee8ea;
    
}
.controls {
    margin-top: 20px;
}
#array {
    font-size: 30px; /* Increase font size */
    color:#e39d10; 
}

#next-button {
    position: absolute;
    margin: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(16, 206, 227);
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 20px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    top: 50px; 
    left: 95%; /* Center horizontally */
    transform: translateX(-50%);
}
#answer{
    position: absolute;
    padding: 10px;
    font-size: 25px;
    border: 1px solid rgb(8, 7, 8);
    border-radius: 10px;
    
}
#check-button{
    position: absolute;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(8, 7, 8);
    border-radius: 10px;
    top: 75px;
    left: 72%; /* Center horizontally */
    transform: translateX(-50%);
}

#result.correct {
    color: rgb(8, 8, 8);
    position: absolute;
    font-size: 30px;
    top: 70px; 
    left: 85%; /* Center horizontally */
    transform: translateX(-50%);
  }

  
#result.incorrect {
    color: rgb(9, 10, 10);
    position: absolute;
    font-size: 20px;
    top: 60px; 
    left: 85%; /* Center horizontally */
    transform: translateX(-50%);
  }
button:hover {
    background-color:#c8d7d8;
}
#next-button:hover{
    background-color: #c8d7d8;
}

.number-box-container {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.number-box {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;
    margin: 10px;
}
.empty-boxes {
    position: relative;
    top:40px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #335155;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    margin: 15px;
    
}
.empty-boxes1 {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #090808;
    text-align: center;
    vertical-align: middle;

    margin: 5px;
    position: relative; 
}
.index {
    font-size: 11px;
}


.input-container {
    position: relative;
    display: flex;
    justify-content: baseline;
    width: 50%; 
    margin: 0 auto; /* Center the container horizontally */
    top:10px;
    left:-20%;
    
}

.input-box1 {
    width: 10%; 
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgb(16, 206, 227);
    border-radius: 10px;
    text-align: center;
}
.input-box2 {
    width: 10%; 
    padding: 5px;
    font-size: 15px;
    border: 1px solid #e39d10;
    border-radius: 10px;
    text-align: center;
}
.input-box3 {
    width: 10%; 
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgb(236, 12, 188);
    border-radius: 10px;
    text-align: center;
}
#search-button{
    width: 20%; 
    padding: 10px;
    font-size: 19px;
    color:rgb(16, 206, 227);
    border: 3px solid black;
    border-radius: 20px;
}
::placeholder {
    
    color:rgb(82, 84, 85);
    font-style: italic;
  }
  
 
.highlight-low {
    width: 50px; /* Set the desired width and height */
    height: 50px;
    border: 3px solid rgb(16, 206, 227); /* Set the border thickness and color */
    border-radius: 100%; /* Make it a circle by using 100% border-radius */
    background: transparent
}

.highlight-mid {
    width: 50px; 
    height: 50px;
    border: 3px solid #e39d10; /* Set the border thickness and color */
    border-radius: 100%; /* Make it a circle by using 100% border-radius */
    background: transparent
}

.highlight-high {
    width: 50px; /* Set the desired width and height */
    height: 50px;
    border: 3px solid rgb(236, 12, 188); /* Set the border thickness and color */
    border-radius: 100%; /* Make it a circle by using 100% border-radius */
    background: transparent;
    
}
label {
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 15px;
    font-style: italic;
}


.radio-option {
    
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -30%; 
    margin-left: 5%;
}
.radio-option label {
    margin-left:200px;
    font-weight: normal; 
}
.radio-option input[type="radio"] {
    margin-right: 1px; 
}

 
