body {
    background-color: #181818;
    font-family: 'Quicksand', sans-serif;
}
.title {
    font-weight: bold;
}

.title, .container, .outcome, .question, .nextQuestion, .input-box, .enter, .enter-button, .next-question-button {
    margin-top: 30px;
    display: flex;
    color: rgb(69,199,211);
    font-size: 50px;
    justify-content: center;
}
.subcontainer, .correct, .incorrect, .question, .nextQuestion, .input-box, .enter, .enter-button, .next-question-button{
    font-size: 30px;
    background-color: #333;
    border-radius: 10px;
    margin-right: 10px;
    padding: 20px;
    cursor: pointer;
}
.question {
    background-color: #181818;
    font-weight: bold;
}
.nextQuestion {
    background-color: #181818;
}
.input-box {
    background-color: #181818;
}
.text-box, .enter {
    padding: 10px;
    font-size: 20px;
    color:rgb(69,199,211) ;
    background-color: #333;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    border-color: rgb(69,199,211);
}
.enter {
    background-color: #181818;
    
}

.enter-button, .next-question-button {
    margin-top: -40px;
    border: none;
    padding: 9px;

}
.outcome {
    margin-bottom: 60px;
}
