html{
  
  margin:0;
}
    body{
      margin:0;
      padding: 0;
    }
    
    .node{
      fill:rgb(69, 199, 211);
      stroke:#fff;
      stroke-width: 2px;
    }
  
    .link{
      stroke:#777;
      stroke-width: 2px;
    }
  
    .font {
    font: 10px;
    color: black;
    font-family: sans-serif;
    }
    
    .next {
      position: absolute;
      bottom:  3px; 
      left: 95%; /* Center horizontally */
      transform: translateX(-50%); /* Center horizontally */
      width: 98px;
      background-color: rgb(69, 199, 211);
      border-radius: 10%;
    }
  
    .input-box {
      position: absolute;
      top: 10px; 
      right: 2%; /* Center horizontally */
      transform: translateX(-50%); /* Center horizontally */
      width: 198px;
      margin-left: 50px;
    
      
    }
  
    .mark {
      position: absolute;
      top: 10px; 
      right: -1%; /* Center horizontally */
      transform: translateX(-50%); /* Center horizontally */
      background-color: rgb(69, 199, 211);
      border-radius: 10%;
    }
    #container {
        padding: 5px;
        background: rgb(249, 249, 249);;
        text-align: left; /* this overrides the text-align: center on the body element. */
        border-bottom: 1px solid #011215; 
        
      }
  
    .numNodes{
         
        position: fixed;
        top: 9px; 
        left: 620px; /* Center horizontally */
        width: 170px;
        border-radius: 8%;
        transform: translateX(-50%); 
      }

    .nodesPrompt{
      position: fixed;
      top: 10px; 
      left: 500px;
      width: 170px;
      border-radius: 3%;
      transform: translateX(-50%);
    }

    #cost{
      background: rgb(69, 199, 211);
    }
    
  
  
      #graph-svg {
        position: absolute;
        top: 60px; 
        left: 5px; 
          }
  
      .highlighted-node {
        fill: #fbb13c; /* Change the fill color to highlight the node */
        stroke: #000; /* Add a border to make it stand out */
        stroke-width: 2px;
        }
  
      .highlighted-edge {
        stroke: rgb(23, 23, 23); /* Change the stroke color to highlight the edge */
        stroke-width: 3px; /* Increase the stroke width for emphasis */
          }
  
      .incorrect-message {
        color: #fbb13c;
      }
  
  /* Style for "correct" message */
      .correct-message {
          color: rgb(65, 174, 187);
      }
  
      #correctness-message{
          font-size: 20px;
          position: absolute;
          top: 23px; 
          right: 23%; /* Center horizontally */
          transform: translateX(-50%);
      }

      .visited-node {
        fill: orange; 
        stroke: #fff; 
        stroke-width: 2px; 
    }
    
    .visited-edge {
        stroke: orange; 
        stroke-width: 2px; 
    }

    .visitedNodesDiv{
      position: absolute;
      top: 80px; 
      right: 1%; 
    }
    

